table,th,td{
    border: 3px solid red;
    border-spacing: 10px;
}
table {
    width: 80%;
    padding: 2px;
}
th,td {
    color:dodgerblue;
    text-align: center;
    height: 70px;
}
tr:nth-child(2) {
    height: 200px;
}